@import "variables";

body {
	font-size: 15px;
}

#content {
	margin-top: 15px;
}

.full-width {
	width: 100%;
}

.font-size-x1 {
	font-size: 15px;
}

.font-size-x2 {
	font-size: 20px;
}

.font-size-x3 {
	font-size: 30px;
}

.font-size-x4 {
	font-size: 40px;
}

.font-size-x5 {
	font-size: 50px;
}
